@model KQT.Web.Models.PageHeaderViewModel
@{
    ViewBag.Title = "About";
}
@section _PageHeader
{
    @Html.Partial("_PageHeaderPartial", Model)
}

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum ullam eveniet pariatur voluptates odit, fuga atque ea nobis sit soluta odio, adipisci quas excepturi maxime quae totam ducimus consectetur?</p>