@model KQT.Web.Models.PageHeaderViewModel

@{
    ViewBag.Title = "Blog";
}
@section _PageHeader
{
    @Html.Partial("_PageHeaderPartial", Model)
}
<!-- Main Content -->
<div id="mainContentNews">
</div>
<!-- Pager -->
<div class="clearfix">
    <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
</div>
@section scripts
{

    <script>
        $(function () {
            loadPage(1)
        })
        const loadPage = (page) => {
            $.ajax({
            url: '@Url.Action("GetNews","Article")'+ `?page=${page}`,
            type: 'GET',
            success: function (data) {
                if (data != null) {
                    const link = '@Url.Action("Index", "Article")';
                    data.map(e => {
                        let linkdetail = `${link}?id=${e.Id}`;
                        $('#mainContentNews').append(`
                            <div class="post-preview">
                                <a href='${linkdetail}'>
                                    <h2 class="post-title">
                                        ${e.Title}
                                    </h2>
                                    <h3 class="post-subtitle">
                                        ${e.TitleDecs}
                                    </h3>
                                </a>
                                <p class="post-meta">
                                    Posted by
                                    <a href="https://www.facebook.com/KhoaPiterrr">Start KQT-hihihehe</a>
                                    on ${Date(e.DateCreated)}
                                </p>
                            </div>
                            <hr>

                        `)
                    })
                }
            },
            error: function (result, textStatus, errorThrown) {
                debugger
                alert("Có lỗi", "Error:" + errorThrown + " - " + textStatus + " - " + result, "error");
            },
        });
        }
    </script>
}